.col-md, .col-sm, .col-xs, .col-smd {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
}

.col-sm {
	width: 4rem;
}

.col-xs {
	width: 2.3rem;
}

.col-md {
	width: 9rem;
}

.col-smd {
	width: 5rem;
}
