.week-container {
	border-radius: 0.7rem;
	overflow: hidden;
	border: 1px solid black;
	margin-top: -0.25rem;
}

.day {
	display: inline-block;
	padding: 0.25rem;
	font-size: 0.7rem;
	border-right: 1px solid black;

	&.selected {
		background-color: rgb(209 213 219);
	}
}

.day:last-child {
	border-right: none;
}
